footer {
    background-color: #1F1F1F;
    color: #fff;
    margin: 0;
}
.sectionup {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 20px;
    padding-left: 88px;
    padding-right: 105px;
}
.logo {
    display: flex;
    align-items: center;
}
.about {
    width: 490px;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
}
.column {
    width: 200px;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
}
h3 {
    font-weight: 600;
    font-size: 36px;
}
h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 35px;
}
a {
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}
.paraabout {
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 40px;
    width: 307px;
}
.icon {
    margin-right: 30px;
}
.creditos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 35px;
}
.patente {
    font-size: 13px;
}

