.bloqueio{
    width: 100%;
    height: 100vh;
    background-color: #00000060;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* para voltar */
    opacity: 0;
    visibility: hidden;
    transition-duration: .2s;
}

.bloqueio.aparece{
    opacity: 1;
    visibility: visible;
}