@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

$pink: #C92071;
$white: #fff;
$yellow: #F6AA1C;
$blue: #D8E3F2;
$grey: #F5F5F5; 
$grey-2: #666666;
$grey-3: #8F8F8F;
$darkgrey: #474747;
$grey-banner: #E5E5E5;
$bitgrey: #ffffff49;
$bitblack: #1F1F1F;


* {
    font-family: 'Inter', sans-serif;
}